DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': "{{ dbname }}",
        'USER': "{{ dbuser }}",
        'PASSWORD': "{{ dbpassword }}",
        'HOST': "{{ dbhost }}",
        'PORT': "5432",
    }
}

BROADCAST_WEBSOCKET_SECRET = "dGcuY0oyMnZkZy1oTy1aal90S1ZhSWFfOko2SkpUOnJ4Z3o0VzA3REVlZGNxMm9DWllzZkdIQlRPdGFNX2RuWW1XbzlGV0lqWHloaXNiNndIOm5IbkpwcXQtTVU5UU10SEtMZ09vV0pOaEtVMmVUcjJTdkpBT3Rnb21VdzNvX08="
